/* font for title: */
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-style: normal;
}

:root {
  --color-txt-white: #fff;
  --color-black: #000;
  --color-gold-active: #bdae82;

  --transition-duration: 350ms;
  --transition-func: ease-in-out;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: "Inter", sans-serif;
  line-height: 2;

  background-color: var(--color-black);
  color: var(--color-txt-white);
}
@media screen and (max-width: 768px) {
  body.menu-open {
    overflow: hidden;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 62px;
  }
}
@media screen and (max-width: 450px) {
  .container {
    padding: 0 20px;
  }
}

.section {
  padding-top: 100px;
}
@media screen and (max-width: 768px) {
  .section {
    padding-top: 80px;
  }
}

.section__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;

  max-width: 700px;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 40px;

  margin: 0 auto 60px auto;
  color: var(--color-gold-active);
}

@media screen and (max-width: 768px) {
  .section__title {
    padding: 20px 0;
    max-width: 364px;
    font-size: 32px;
    line-height: 1.25;

    margin: 0 auto 50px auto;
  }
}

.section__title::before,
.section__title::after {
  content: "";
  display: inline-block;
  max-width: 273px;
  width: 100%;
  height: 2px;
  background-color: var(--color-gold-active);
}
@media screen and (max-width: 768px) {
  .section__title::before,
  .section__title::after {
    max-width: 117px;
  }
}

.btn {
  display: block;
  padding: 7px;
  height: 55px;
  width: 100%;
  max-width: 220px;

  font-size: 20px;
  text-align: center;

  border: solid 1px var(--color-gold-active);
  cursor: pointer;

  transition: color var(--transition-duration) var(--transition-func);
}

.btn:hover,
.btn:focus {
  color: var(--color-txt-white);
}

/* Header */

.header {
  padding: 20px 0;
}

.header__flex-box {
  display: flex;
  align-items: center;

  gap: 30px;
}
@media screen and (max-width: 768px) {
  .header__flex-box {
    gap: 20px;
  }
}
.logo {
  display: flex;
  align-items: center;
}

.logo__icon {
  width: 50px;
  height: 50px;
  fill: var(--color-txt-white);
  transition: fill var(--transition-duration) var(--transition-func);
}
.logo__icon:hover,
.logo__icon:focus {
  outline: none;
  fill: var(--color-gold-active);
}
@media screen and (max-width: 768px) {
  .burger-menu-btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    padding: 0;

    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    cursor: pointer;
  }

  .burger-menu-btn.is-active {
    position: relative;
    z-index: 100;
    animation: smallbig 0.6s forwards;
  }

  .burger-menu-btn.is-active .line:nth-child(1),
  .burger-menu-btn.is-active .line:nth-child(2),
  .burger-menu-btn.is-active .line:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  .burger-menu-btn.is-active .line:nth-child(2) {
    opacity: 0;
  }

  .burger-menu-btn.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }

  .burger-menu-btn.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }
}

@media screen and (min-width: 769px) {
  .burger-menu-btn {
    display: none;
  }
}

.line {
  width: 57px;
  height: 2px;
  background-color: #ecf0f1;
  display: block;
  margin: 11px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.burger-menu-btn:hover .line,
.burger-menu-btn:focus .line {
  background-color: var(--color-gold-active);
}

.nav {
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .overlay.is-active {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 40;
  }
  .nav {
    display: none;
    position: absolute;

    opacity: 0;
    top: 0;
    right: -800px;
  }
  .nav.is-active {
    display: block;
    right: 0px;
    opacity: 1;

    width: 620px;
    height: 100vh;
    padding: 134px 127px;
    color: white;
    background-color: black;

    z-index: 50;
    transition: all var(--transition-duration) var(--transition-func) 1s;
  }
}
@media screen and (max-width: 600px) {
  .nav {
    width: 100vw;
    padding: 60px 40px;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .nav__list {
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    height: 100vh;
  }
}
.nav__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 2.5;

  padding: 15px 0;

  transition: color var(--transition-duration) var(--transition-func);
}
@media screen and (max-width: 768px) {
  .nav__link {
    font-size: 35px;
    line-height: 2.08;
  }
}

.nav__link:hover,
.nav__link:focus {
  color: var(--color-gold-active);
}

.langs {
  display: flex;
  justify-content: space-between;
  width: 70px;

  font-weight: bold;
  font-size: 20px;
  line-height: 2.5;
}

@media screen and (max-width: 768px) {
  .langs {
    width: 80px;
    margin-left: auto;
  }
}
.lang {
  width: auto;
  height: auto;
  padding: 0;
  border: none;
  color: var(--color-txt-white);
  background-color: transparent;
}

.lang.active {
  color: var(--color-gold-active);
}

/* main section */

/* Banner */

.banner {
  padding: 160px 0 330px 0;
}
@media screen and (max-width: 768px) {
  .banner {
    padding: 78px 0 152px 0;
  }
}
.banner__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;

  width: 100%;
  /* max-width: 100vw; */
  height: 910px;

  background-image: url("../assets/img/bg1@1x.png");
  background-repeat: no-repeat;
  background-position: top;
}
@media screen and (max-width: 768px) {
  .banner__bg {
    height: 590px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../assets/img/bg1-tablet@1x.png");
  }
}
.banner__txt-box {
  position: relative;
  left: 60px;

  max-width: 490px;
}
@media screen and (max-width: 768px) {
  .banner__txt-box {
    left: 0;
    max-width: 390px;
  }
}

.banner__title {
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 60px;
}
@media screen and (max-width: 768px) {
  .banner__title {
    font-weight: 400;
    font-size: 32px;
  }
}

.banner__txt {
  margin-top: 10px;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .banner__txt {
    margin-top: 20px;

    line-height: 1.2;
  }
}

.banner__btn {
  margin-top: 25px;

  color: var(--color-black);
  background-color: var(--color-gold-active);
}
@media screen and (max-width: 768px) {
  .banner__btn {
    margin-top: 60px;
  }
}
/* section Skills */
@media screen and (max-width: 768px) {
  .skills {
    padding-bottom: 40px;
  }
  .skills__title {
    margin-bottom: 45px;
  }
}

.skills__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;

  text-align: center;
}
@media screen and (max-width: 1380px) {
  .skills__list {
    gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .skills__list {
    display: grid;
    grid-template-columns: 1fr 1fr;

    column-gap: 44px;
    row-gap: 36px;
  }
}
@media screen and (max-width: 600px) {
  .skills__list {
    column-gap: 15px;
    row-gap: 25px;
  }
}
@media screen and (max-width: 460px) {
  .skills__list {
    grid-template-columns: 1fr;
  }
}
.skills__item {
  flex: 1 1 100%;
  max-width: 320px;
  min-height: 240px;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 1380px) {
  .skills__item {
    padding: 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .skills__item {
    max-width: 300px;
    min-height: 224px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 600px) {
  .skills__item {
    padding: 0;
    max-width: 100%;
    min-height: auto;
  }
}

.skills__icon {
  fill: var(--color-gold-active);
}

.skills__item-title {
  margin-top: 50px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .skills__item-title {
    margin-top: 30px;
  }
}
@media screen and (max-width: 600px) {
  .skills__item-title {
    margin-top: 15px;
    font-size: 16px;
  }
}

.skills__item-txt {
  margin-top: 20px;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .skills__item-txt {
    line-height: 1.2;
  }
}
@media screen and (max-width: 600px) {
  .skills__item-txt {
    margin-top: 10px;
    font-size: 14px;
  }
}
/* Section Portfolio */

.portfolio__btn-set {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
@media screen and (max-width: 768px) {
  .portfolio__btn-set {
    flex-wrap: wrap;
    max-width: 445px;
    margin: 0 auto;
  }
}

.portfolio__btn-item {
  flex: 1 1 100%;
  max-width: 220px;
}

.portfolio__btn {
  color: var(--color-gold-active);
  background-color: inherit;
}

.portfolio__btn.active {
  color: var(--color-black);
  background-color: var(--color-gold-active);
}

.portfolio__gallery-list {
  margin-top: 60px;

  display: flex;
  justify-content: center;
  align-items: start;
  gap: 25px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .portfolio__gallery-list {
    flex-direction: column;
    align-items: center;
  }
}

/* Section Video */

.video__thumb {
  position: relative;
}
@media screen and (max-width: 768px) {
  .video__container {
    position: relative;
    min-height: 548px;
  }
  .video__thumb {
    position: static;
  }
}
@media screen and (max-width: 600px) {
  .video__container {
    min-height: 480px;
  }
}

@media screen and (max-width: 768px) {
  .video__plaseholder {
    position: absolute;
    top: 130px;
    left: 0;
    max-width: 768px;
    min-height: 418px;
  }
}
@media screen and (max-width: 600px) {
  .video__plaseholder {
    min-height: auto;
  }
}
.video__btn-play {
  width: 130px;
  height: 130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  padding: 0;

  cursor: pointer;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .video__btn-play {
    width: 65px;
    height: 65px;
    top: 62%;
  }
}

@media screen and (max-width: 600px) {
  .video__btn-play {
    display: none;
  }
}
.video__btn-icon {
  width: 130px;
  height: 130px;
  fill: var(--color-txt-white);
  transition: fill var(--transition-duration) var(--transition-func);
}
.video__btn-icon:hover,
.video__btn-icon:focus {
  fill: var(--color-gold-active);
}
@media screen and (max-width: 768px) {
  .video__btn-icon {
    width: 65px;
    height: 65px;
  }
}

/* Section Price  */

.price__list {
  display: flex;
  justify-content: center;
  /* align-items: start; */
  flex-wrap: wrap;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .price__list {
    /* flex-direction: column; */
    /* justify-content: center; */
    gap: 50px;
  }
}

.price__item {
  flex: 1 1 100%;
  max-width: 450px;
  min-height: 505px;
  padding: 40px;

  text-align: center;

  border: solid 3px var(--color-gold-active);
}
@media screen and (max-width: 768px) {
  .price__item {
    max-width: 420px;
  }
}
@media screen and (max-width: 600px) {
  .price__item {
    padding: 10px;
    min-height: auto;
  }
}
.card__title {
  font-family: "Merriweather";
  font-size: 28px;

  font-weight: bold;
}

.card__price {
  margin-top: 20px;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 24px;

  color: var(--color-gold-active);
}

.card__options-list {
  margin-top: 20px;
  font-size: 18px;
}

.card__order-btn {
  margin: 40px auto 0 auto;

  color: var(--color-black);
  background-color: var(--color-gold-active);
}

/* Section Contacts */

.contacts__bg {
  min-height: 700px;
  background-image: url("../assets/img/bg2@1x.png");
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .contacts__bg {
    min-height: 600px;
    background-image: url("../assets/img/bg2-tablet@1x.png");
  }
}

.contacts__content {
  margin-left: auto;

  padding-top: 60px;
  max-width: 450px;
}
@media screen and (max-width: 768px) {
  .contacts__content {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    padding: 60px 0 111px 0;
  }
}

.contacts__title {
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 700;

  color: var(--color-gold-active);
}
@media screen and (max-width: 768px) {
  .contacts__title {
    font-size: 32px;
    text-align: center;
  }
}

.contacts__form {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0;
}
.contacts__input,
.contacts__textarea {
  padding: 5px 20px;
  width: 100%;
  font-size: 20px;

  color: var(--color-gold-active);
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px var(--color-gold-active);
}

.contacts__input:not(:last-child) {
  height: 50px;

  margin-bottom: 20px;
}

.contacts__textarea {
  height: 100px;
  resize: none;
  overflow: auto;
  margin-bottom: 30px;
}

.contacts__textarea::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}
.contacts__textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-gold-active);
}
.contacts__input::placeholder,
.contacts__textarea::placeholder {
  font-size: 20px;
  color: var(--color-gold-active);
}

.contacts__btn-submit {
  color: var(--color-black);
  background-color: var(--color-gold-active);
}
@media screen and (max-width: 768px) {
  .contacts__btn-submit {
    align-self: center;
  }
}

/* Footer */
.footer {
  padding: 50px 0;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 28px 0;
  }
}

.footer__thumb {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 20px;
  /* line-height: 2.5; */
}
@media screen and (max-width: 768px) {
  .footer__thumb {
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
  }
}

.author-info__thumb {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 169px;
  /* font-size: 20px; */
  line-height: 50px;
}
@media screen and (max-width: 768px) {
  .author-info__thumb {
    line-height: 1.2;
    margin-bottom: 16px;
  }
}

.footer__link {
  transition: color var(--transition-duration) var(--transition-func);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--color-gold-active);
}

@media screen and (max-width: 768px) {
  .footer__link--school {
    font-size: 20px;
    line-height: 1.2;
  }
}

.social-link__list {
  display: flex;
  justify-content: space-between;

  gap: 20px;
  max-width: 188px;
}
@media screen and (max-width: 768px) {
  .social-link__list {
    margin-top: 30px;
  }
}

.social-link__item {
  display: flex;
  justify-content: center;
  align-items: center;

  /* width: 32px;
  height: 32px; */
}

.social-link__icon {
  width: 32px;
  height: 32px;
  fill: var(--color-txt-white);

  transition: fill var(--transition-duration) var(--transition-func);
}
.social-link__icon:hover,
.social-link__icon:focus {
  fill: var(--color-gold-active);
}

@keyframes smallbig {
  0%,
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}
